[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "solvency2rfr"]
	path = solvency2rfr
	url = https://github.com/janwein/solvency2rfr
